services:
  redis:
    image: redis/redis-stack-server:latest
    container_name: redis_container
    ports:
      - "6379:6379"
    networks:
      - sword

  mysqldb:
    image: mysql:8.0
    container_name: mysql_container
    command: --default-authentication-plugin=mysql_native_password
    restart: unless-stopped
    volumes:
      - ./src/database/init.sql:/docker-entrypoint-initdb.d/0_init.sql
      - ${HOME}/database:/var/lib/mysql
    ports:
      - 3306:3306
    expose:
      - 3306
    environment:
      MYSQL_DATABASE: tasksdb
      MYSQL_USER: admin
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
      SERVICE_TAGS: dev
      SERVICE_NAME: mysqldb
    networks:
      - sword

networks:
  sword:
    driver: bridge
